<html xmlns="http://www.w3.org/1999/xhtml" ng-app="masterDetailsPetStoreApp">
<head>

    <meta charset="utf-8" />
    <title>Master Details Pet Store</title>
    <base href="/" />
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

</head>
<body >

    <ui-view></ui-view>
    <script src="~/lib/angular/angular.js"></script>
    <script src="~/lib/angular-ui-router/release/angular-ui-router.min.js"></script>

    <script src="~/ngApp/controllers/controllers.js"></script>
    <script src="~/ngApp/app.js"></script>
</body>
</html>